/* ------------------------ Panel Proyects-------------- */

.panel-my-proyects{
    position: relative;
    padding: 5px;
}

.fila{
    height: inherit;
}

.contenedor-carpeta, .contenedor-archivo{
    padding: 10px;
}

.img-carpeta{
    background-image: url('../img/folder-1.png');
}

.img-archivo{
    height: 117px;
    width: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.img-carpeta{
    height: 100px;
    width: 100px;  
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.nom-carpeta{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
}
