body{
    background-image: url('../img/2.gif');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    z-index: -1;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.covertura{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 4, 53, 0.698); 
    /* z-index: 1; */
    position: absolute;
    
}

.divLogo{
    margin: 70px 0 20px 37px;

}

.contendorForm{
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.863);
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 60px 5px 40px 68px;
}

.letInici{
    font-size: 32px;  
    margin-bottom: 28px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.cajasTexto{
    padding-left: 0;
    padding-right: 0;
}

.iconError{
    padding-left: 0;
    padding-right: 0;
}

.form-login input[type="text"], .form-login input[type="password"]{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: solid 2px rgb(209, 209, 209);
    height: 50px;
    box-sizing: border-box;
    
}


.form-login input[type="text"]:focus, .form-login input[type="password"]:focus{
    /* outline: none;
    border: none;
    box-shadow: none; */
    outline-color: #5c6ac4;
    border-color: #5c6ac4;
    box-shadow: none;
    
}



.campo-enfocado{  
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px #5c6ac4 !important;
}


.remenber input[type="chechbox"]{
    padding-left: 0;
    padding-right: 0;
}

.container{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.form-login input[type="button"]{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-weight: 700;
    background-color: #5c6ac4;
    border-color: #5c6ac4;
}

.form-check-input{
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.form-check-label{
    margin-left: 20px;
    color: #a8a8a8;
}

.ayuda{
    color: #a8a8a8;
    text-decoration: none;
}


.container a :hover{
    text-decoration: underline;
    color:#E50914;
}

.campo-error{  
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px  rgb(209, 2, 2) !important;
}

.campo-error-email{  
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px  rgb(255, 251, 30) !important;
}

.iconoError-vacio{
    height:50px; width:10px; padding-top: 10px;padding-left: 10px; color: red; margin-bottom: 15px;
    display: block;
}

.iconoError-hide{
    display: none;
}

.mensaje-error{
    color: red;
    font-size: 10px;
    margin: 3px 0px 10px 0px;
    display:none;
}
.mensaje-exito{
    font-size: 10px;
    color: green;
    margin: 10px 0 10px 0;
    display:none;
}
/* .email:focus{
  outline: none;
  border: none;
  box-shadow: none;
} */