.container-fluid{
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.row{
    padding: 0;
    margin-right: 0px;
    margin-left: 0px;
}
.sidebar{
    height: 100vh;
    margin-top: 60px;
}
.side-colum{
    background-color: #000639;
    background-image: url('../../img/side-2.jpg'); 
    background-size: cover;
    background-position: center center;
    padding-right: 0px; 
    padding-left: 0px;

}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0px;
  }

#wrapper.toggled #sidebar-wrapper {
    margin-left: -10rem;
  }

.side-colum-trans{
    height: 100%;
    width: 100%;
    background-color: #000639de;
}

.content-dash{
    background-color: #000b50;
    padding: 0px;
}

.navbar{
    padding: 0px;
    height: 60px;
    background-color:#000838;
}

@media (max-width: 768px) {
    .side-colum {
      display: none;
    }
    /* .btn-info{
      display: none;
    }
    .btn-primary{
      display: none;
    } */
    .spanBotones{
      display: none;
    }
   
}

@media (max-width:992px){
  .spanSidebar{
    display:none;
  }
}

.logo{
    margin: 0px;
}
.cont-logo{
    width: 50%;
    height: 60px;
    float: left;
    background-image: url('../../img/code-logo\ -\ copia.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.cont-logo img{
    height: 54px;
    width: 100%;
}

.cont-logo-letras{
    height: 60px;
    float: left;
    padding-top: 12px;
  
}

.cont-logo-letras span{
    color: white;
    font-size: 1.5rem;
}

.linea{
    height: 1px;
    background-color: #494496;
    width: 100%;
    padding: 0px;
}

.perfil{
    height: 60px;
}

.img-perfil{
    width: 40px;
    height: 40px;
    background: no-repeat center;
    background-size: cover;
    border-radius: 100%;
    margin: 15px 35px;
    margin-left: auto;
    margin-right: auto;
}

.perfil span{
    color: white;
    padding-top: 22px;
    font-size: 0.9rem;
}

.btn-proyecto{
    height: 80px;
    width: 100%;
    padding: 20px;
    padding-left: 40px;
}

.logo{
    width: 100%;
}

.div-logo{
    padding-right: 0px;
    padding-left: 0px;
}

.trans-logo{
    width: 100%;
    background-color: #000639de;
}


/*----------------------sidebar-menu-------------------------*/
a{
  color: white;
}
.sidebar-menu {
    padding-bottom: 10px;
    color: white;
    width: 100%;
  }
  
  .lista-sidebar{
    list-style:none;
    padding: 20px;
  }
  .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 20px 5px 0px;
    display: inline-block;
  }
  
  .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 0px 8px 0px;
  }
  
  .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
  }
  
  .sidebar-menu ul li a:hover > i::before {
    /* display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate; */
  }
  


  .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
  }
  
  .sidebar-menu .sidebar-dropdown a:hover{
    /* background-color: #0d4e9880; */
    background-color: #49449665;
    color: white;
    border-radius: 5px;
  }

  .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
        list-style:none;
  }
  
  .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
  }
  
  .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
  }
  
  .sidebar-menu ul li a span.label,
  .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
  }
  
  .sidebar-menu .sidebar-submenu {
    display: none;
  }
  
  .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
  }
  
.perfil:hover{
    background-color: rgba(183, 0, 255, 0.582);
    cursor: pointer;
}

  /* Perfil------------------------------------ */
  .main{
    padding-top: 10px;
    height: 625px;
    background-color: #000b50;
    
  }

  .main-content {
 
    height: 100%;
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.08);
    margin: 5px 20px 5px 20px;
    background-color: white;
    overflow: scroll;
}
.main-content-div{
  margin-bottom: 50px;
}


/* proyexcto */

.frm-crear-proyecto{
  padding: 10px;
}

.frm-crear-proyecto input[type="text"] {
  margin-bottom: 10px;
  margin-right: 5px;
}

.frm-crear-proyecto .rbt{
  float: left;
  margin-top: 17px;
  width: 10%;
  margin-bottom: 4px;
  margin-right: 5px;
}
.frm-crear-proyecto span{
  margin-left: 5px;
}

.div-txtProyecto, divbtnCompartir{
  padding-left: 0px;
  padding-right: 0px;
}

.div-compartir-hide{
  display: none;
}

.div-compartir-show{
  display: block;
}

.div-compartir div{
  padding-left: 0px;
  padding-right: 0px;
}

.div-compartir div ul{
  list-style: none;
}

.btn-info{
  background-color:#5c6ac4 !important;
  border-color: #929292;
}


.editoresNew{
  height: 50vh;
  width: 100%;
}

.input-snipt{
  width: 100%;
  margin: 10px;
}
.input-snipt input[type="text"]{
  background-color: #eeeeee;
}

.editores{
  height: 55vh;
  width: 100%;
}

.modal-dialog-snipt{
  max-width: 900px;
}

.modal-header{
  background-color: #4b1c68;
}

#nuevoProyecto{
  margin-left: auto;
  margin-right: auto;
}